@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #475569;
  --color-accent: #f59e0b;
  --color-background: #0f172a;
  --color-surface: #1e293b;
}

body {
  @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-white;
}
@layer base {
  .dark {
    @apply bg-black text-white;
  }
}
html {
  transition: background-color 0.5s ease, color 0.5s ease;
}